extends layout

block content
    h1.cover.heading My Contacts.

    .contacts
        .row
            .col-md-6 #[i.fa.fa-envelope] Email
            .col-md-6.val #[a(href="mailto:jasonrust89@gmail.com") jasonrust89@gmail.com]

        .row
            .col-md-6 #[i.fa.fa-envelope] Second Email
            .col-md-6.val #[a(href="mailto:oxigenmd@gmail.com") oxigenmd@gmail.com]

        .row
            .col-md-6 #[i.fa.fa-skype] Skype
            .col-md-6.val oxigenmd

        .row
            .col-md-6 #[i.fa.fa-github] Github
            .col-md-6.val #[a(href="https://github.com/wickd", target="_blank") github.com/wickd]

        .row
            .col-md-6 #[i.fa.fa-phone] Phone
            .col-md-6.val 0-611-37-039