extends layout

block content
    h1.cover.heading My Contacts.

    .row
        .col-md-4 #[i.fa.fa-envelope] Email
        .col-md-4 #[a(href="mailto:jasonrust89@gmail.com") jasonrust89@gmail.com]

    .row
        .col-md-4 #[i.fa.fa-envelope] Second Email
        .col-md-4 #[a(href="mailto:oxigenmd@gmail.com") oxigenmd@gmail.com]

    .row
        .col-md-4 #[i.fa.fa-skype] Skype
        .col-md-4 oxigenmd

    .row
        .col-md-4 #[i.fa.fa-github] Github
        .col-md-4 #[a(href="https://github.com/wickd", target="_blank") github.com/wickd]

    .row
        .col-md-4 #[i.fa.fa-phone] Phone
        .col-md-4 0-611-37-039