extends layout

block content
    h1.cover.heading Check if IPv4 address is in the specified subnet.

    form(method="post")
        .form-group
            label(for="ipv4_address") IPv4 Address
            input.form-control.input-lg.ipv4-input(type="text", id="ipv4_address", name="ipv4_address", placeholder="255.255.255.255", required="required")

        .form-group
            label(for="ipv4_cidr") IPv4 CIDR
            input.form-control.input-lg.ipv4-input(type="text", id="ipv4_cidr", name="ipv4_cidr", placeholder="255.255.255.255", required="required")

        p.lead
            button.btn.btn-lg.btn-default Check subnet range