.masthead.clearfix
    .inner
        h3.masthead-brand IP subnet check tool
        nav
            ul.nav.masthead-nav
                li
                    a(href="/") Home
                li
                    a(href='/test-task') Test Task
                li
                    a(href='/about') About Me
                li
                    a(href='/contact') Contact